/* 

Table of Content 

1. Global Styles
2. Section landing view, Navigation,Background,Related Media Querries
3. Header section, Animated arrow, Related Media Querries 
4. About me section
5. What I do section
6. My skills section
7. Portfolio Section
8. Contact Section
9. Footer section

*/

/* 1. Global Styles */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');


a {
    color: #fff;
    font-size: 22px;
    font-family: Poppins, sans-serif;
}

a:hover {
    color: #FBBC04;
}

p {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    padding: 1rem;
}

.h3 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.col-12,
.col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.h5,
h5,
.h6 {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

.about-me,
.what-i-do,
.my-skills,
.portfolio,
.contact {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#portfolio,
#about-me {
    background-color: rgb(241, 241, 241)
}

/* 2. Section landing view, Navigation,Background, Related Custom Media Querries */

.section-landing-view {
    background: url('../images/laptop-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar-brand {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 22px;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
    word-spacing: 3px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #FBBC04;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: rgb(185, 185, 185);
}

.a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: rgba(0, 0, 0, 0);
}

.bg-primary {
    background-color: rgba(0, 0, 0, 0) !important;
}

nav.black {
    background: rgb(32, 32, 32);
    transition: 1s;
}

@media (max-width: 991px) {

    #mainNav .navbar-nav li.nav-item a.nav-link {
        background: rgb(32, 32, 32);
        text-align: center;
    }
}

/* 3. Header section */

header.masthead {
    padding-top: 45vh;
}

header.masthead h2 {
    font-size: 33px;
    line-height: 1.5em;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(32, 32, 32) 50%, rgba(0, 0, 0, 0) 100%);
}

header.masthead img {
    padding-top: 7rem;
    width: 60px;
}

/* Arrow only*/
/* credit rafael amorim https://codepen.io/raf187/pen/BvgGRQ */

.arrow {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    border-right: 5px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media (max-width: 550px) {

    header.masthead h2 {
        font-size: 24px;
        line-height: 2rem;
    }

    header.masthead {
        padding-top: 40vh;
    }

    header.masthead img {
        padding-top: 2rem;
        width: 40px;
    }
}

@media (max-width: 400px) {
    header.masthead {
        padding-top: 35vh;
    }
}

/* 4. About me Section */

@media (min-width: 992px) {
    #about-me .row {
        width: 768px;
        margin: auto;
    }
}

/* 5. What I do section */

#what-i-do .container-fluid {
    background: url('../images/server.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#what-i-do .h3 {
    color: white;
}

#what-i-do .collumn-1,
.collumn-2,
.collumn-3 {
    width: 90%;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

#what-i-do img {
    padding-top: 3%;
}

@media only screen and (min-width: 992px) {
    #what-i-do .row {
        width: 90%;
        margin: auto;
    }

    #what-i-do .h5 {
        margin: 10%;
    }
}

@media only screen and (max-width: 991px) {

    #what-i-do .collumn-1,
    .collumn-2,
    .collumn-3 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

/* 6. My skills section */

#my-skills>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),
#my-skills>div.row.development>div:nth-child(2),
#my-skills>div.row.marketing>div:nth-child(1) {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#my-skills .row,
.design,
.development,
.marketing {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0.5) 100%);
}

#my-skills>div>div.row.design>div:nth-child(1)>div.container,
#my-skills>div>div.row.development>div:nth-child(2)>div.container,
#my-skills>div>div.row.marketing>div:nth-child(1)>div.container {
    width: 70%;
}

/* 7. Portfolio section */

.carousel-caption {
    bottom: 70px;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

/* 8. Contact section */

#contact>div:nth-child(2)>div>div.col-12.col-md-4>a:nth-child(10):hover,
#contact>div:nth-child(2)>div>div.col-12.col-md-4>a:nth-child(14):hover {
    color: #FBBC04;
}

#contact>div:nth-child(2)>div>div.col-12.col-md-4>a:nth-child(10),
#contact>div:nth-child(2)>div>div.col-12.col-md-4>a:nth-child(14) {
    color: #17a2b8;
}


#contact>div:nth-child(2)>div>div.col-12.col-md-8>div {
    background-color: transparent;
}

.jumbotron {
    padding: 3rem 2rem;
}

i.fas:nth-child(2) {
    color: #28a745;
}

/* 9. Footer section */

#top>footer>div {
    background-color: rgb(32, 32, 32);
}

footer {
    background-color: black;
}

footer p {
    margin-bottom: 0;
}